<div class="body">
  <div class="container">   
      <div class="row">
        <%= render 'books/list', book: @book, user: @user %>

        <div class="col-xs-9">
          <p id="notice"></p>
          <h2>Books</h2>
            <%= render 'index',books:@books %>
        </div>
    </div>
  </div>
</div>

